@import 'node_modules/nib/index'

.tay-editor
  padding 10px
  cursor text

.tay-tags-before
  margin-left -5px

.tay-tag
  display inline-block
  border 1px solid #666
  padding 3px
  margin 4px

.tay-invalid
  border-color #c00

.tay-tag-remove:after
  margin-left 4px
  padding 0 4px
  content 'x'
  background-color #ccc
  cursor pointer

.tay-input
  padding 3px 3px 3px 8px
  margin 5px 0

  &[placeholder]
    min-width 100%

.tac-container
  display none
  position absolute
  box-shadow 1px 2px 6px
  background-color #fff
  color #333
  transition left 0.1s ease-in-out

.tac-list
  padding 0
  margin 0
  list-style-type none

.tac-show
  display block

.tac-hide
  display none

.tac-empty
  cursor default
  padding 7px

.tac-item
  cursor pointer
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  padding 7px

  &:hover
    background-color #444
    color #fff

.tac-selected
  background-color #333
  color #fff

.tac-char-highlight
  font-weight bold

.tac-category-title
  background-color #eee
  color #aaa
  text-align right
  text-transform capitalize
  font-style italic
  font-size 12px
  box-shadow 1px 0px 1px
  padding 7px
