@import 'node_modules/nib/index'

.tay-editor
  padding 10px
  cursor text

.tay-tag
  display inline-block
  border 1px solid #666
  padding 3px
  margin 4px

.tay-tag-remove:after
  margin-left 4px
  padding 0 4px
  content 'x'
  background-color #ccc
  cursor pointer

.tay-input
  padding 3px
  margin 5px 0

  &[placeholder]
    min-width 100%

.tac-list
  display none
  position absolute
  padding 0
  margin 0
  list-style-type none
  box-shadow 1px 2px 6px
  background-color #fff
  color #333
  transition left 0.1s ease-in-out

.tac-show
  display block

.tac-hide
  display none

.tac-item
  cursor pointer
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  padding 7px

  &:hover
    background-color #444
    color #fff

.tac-selected
  background-color #333
  color #fff

.tac-char-highlight
  font-weight bold
